sample-flow
[{"id":"e8f62bef.68f9c8","type":"OpenADR","z":"c1b13e80.0b833","name":"myven","url":"http://127.0.0.1:8080/","rate":"1","ven_id":"531150bf935f705366ca","ven_profile":"B","x":239.14287185668945,"y":190.88497352600098,"wires":[["1eb1990d.636557"]]},{"id":"5bc404c3.2fcecc","type":"jsonpath","z":"c1b13e80.0b833","expression":"ns2:oadrPayload.ns2:oadrSignedObject[0].ns2:oadrDistributeEvent[0].ns2:oadrEvent[0].ns3:eiEvent[0].ns3:eiEventSignals[0].ns3:eiEventSignal[0].ns3:currentValue[0].ns3:payloadFloat[0].ns3:value[0]","split":false,"name":"eiEventSignals[0]","x":589.8055801391602,"y":188.8254632949829,"wires":[["feb97577.a28dc8","4f2ee1cb.ec9f7"]]},{"id":"1eb1990d.636557","type":"xml","z":"c1b13e80.0b833","name":"","attr":"","chr":"","x":413.72619247436523,"y":189.74607181549072,"wires":[["5bc404c3.2fcecc","c8381369.11bdd"]]},{"id":"feb97577.a28dc8","type":"debug","z":"c1b13e80.0b833","name":"eiEventSignals","active":true,"console":"false","complete":"payload","x":787.4524536132812,"y":189.42474365234375,"wires":[]},{"id":"c8381369.11bdd","type":"file","z":"c1b13e80.0b833","name":"","filename":"ven_output.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":584,"y":253,"wires":[]},{"id":"4f2ee1cb.ec9f7","type":"function","z":"c1b13e80.0b833","name":"auto_opt","func":"if (msg.payload <50){\n    var opt= '<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCreateOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:optType>optIn</d3p1:optType>       <d3p1:optReason>economic</d3p1:optReason>       <marketContext xmlns=\"http://docs.oasis-open.org/ns/emix/2011/06\" />       <d3p1:venID>531150bf935f705366ca</d3p1:venID>       <vavailability xmlns=\"urn:ietf:params:xml:ns:icalendar-2.0\">         <components>           <available>             <properties>               <dtstart>                 <date-time>2016-07-13T19:14:00Z</date-time>               </dtstart>               <duration>                 <duration>PT1H</duration>               </duration>             </properties>           </available>         </components>       </vavailability>       <d3p1:createdDateTime>'+new Date().toISOString()+'</d3p1:createdDateTime>       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">8add0bd9de</requestID>     </oadrCreateOpt>   </oadrSignedObject> </oadrPayload>'\n}\nelse {\n    var opt = '<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCreateOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:optType>optOut</d3p1:optType>       <d3p1:optReason>economic</d3p1:optReason>       <marketContext xmlns=\"http://docs.oasis-open.org/ns/emix/2011/06\" />       <d3p1:venID>531150bf935f705366ca</d3p1:venID>       <vavailability xmlns=\"urn:ietf:params:xml:ns:icalendar-2.0\">         <components>           <available>             <properties>               <dtstart>                 <date-time>2016-07-13T19:14:00Z</date-time>               </dtstart>               <duration>                 <duration>PT1H</duration>               </duration>             </properties>           </available>         </components>       </vavailability>       <d3p1:createdDateTime>'+new Date().toISOString()+'</d3p1:createdDateTime>       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">8add0bd9de</requestID>     </oadrCreateOpt>   </oadrSignedObject> </oadrPayload>'\n}\nmsg.payload=opt;\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":452,"wires":[["e8f62bef.68f9c8"]]}]
