sample-flow
[{"id":"ca66688a.6309c8","type":"mqtt-broker","z":"c1b13e80.0b833","broker":"m10.cloudmqtt.com","port":"13065","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":""},{"id":"19648fb6.c3674","type":"OpenADR","z":"c1b13e80.0b833","name":"myven","url":"http://127.0.0.1:7070/","rate":"1","ven_id":"piyu123","ven_profile":"B","x":519.3055801391602,"y":407.55170249938965,"wires":[["7fdf3033.7e213","7e952bdc.2c8b44","8f8f942b.2983c8"]]},{"id":"19c801bf.7958ce","type":"file","z":"c1b13e80.0b833","name":"","filename":"ven_output.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":736.1905517578125,"y":502.22216796875,"wires":[]},{"id":"7fdf3033.7e213","type":"xml","z":"c1b13e80.0b833","name":"","attr":"","chr":"","x":586.0794067382812,"y":491.88885498046875,"wires":[["19c801bf.7958ce"]]},{"id":"7e952bdc.2c8b44","type":"unsafe-function","z":"c1b13e80.0b833","name":"pricing data extract","func":"var body=msg.payload;\nvar xpath = require('xpath')\nvar dom = require('xmldom').DOMParser\n\nvar doc = new dom().parseFromString(body)\n\n\n\t\t\t\t\t\tvar array_value=[];\n\t\t\t\t\t\tfor(var i=0;i<50;i++){\n\t\t\t\t\t\t\n\t\t\t\t\t\tvar value = xpath.select(\"//*[local-name(.)='eiEvent']/*[local-name(.)='eiEventSignals']/*[local-name(.)='eiEventSignal']/*[local-name(.)='intervals']/*[local-name(.)='interval']/*[local-name(.)='signalPayload']/*[local-name(.)='payloadFloat']/*[local-name(.)='value']/text()\", doc)[i]\n\t\t\t\t\t\t\n\t\t\t\t\t\tarray_value.push('\"' + value + '\"');\n\t\t\t\t\t\t\n\t\t\t\t\t\tif (value===undefined){ break;}\n\t\t\t\t\t\t\n\t\t\t\t\t\t}\n\t\t\t\t\t\t\n\nvar msg = { payload:'{\"ForecastValue\":['+array_value +']}'}\n\nreturn msg;","outputs":1,"noerr":0,"x":697.5238189697266,"y":404.08331871032715,"wires":[["c461de78.08db2","167188be.248987","9724ca27.d09698","13d8e1b6.d5574e"]]},{"id":"f2ff12b3.78307","type":"function","z":"c1b13e80.0b833","name":"opt","func":"var a=msg.payload;\n\nif (a===0){\n    var out =0;\n}\nelse{\n    out =1;\n}\n\nmsg.payload =out;\nreturn msg;","outputs":1,"noerr":0,"x":612.015869140625,"y":648.2222900390625,"wires":[["4adde545.7b2b9c"]]},{"id":"4adde545.7b2b9c","type":"function","z":"c1b13e80.0b833","name":"auto_opt","func":"if (msg.payload ==1){\n    var opt= '<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCreateOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:optType>optIn</d3p1:optType>       <d3p1:optReason>economic</d3p1:optReason>       <marketContext xmlns=\"http://docs.oasis-open.org/ns/emix/2011/06\" />       <d3p1:venID>531150bf935f705366ca</d3p1:venID>       <vavailability xmlns=\"urn:ietf:params:xml:ns:icalendar-2.0\">         <components>           <available>             <properties>               <dtstart>                 <date-time>2016-07-13T19:14:00Z</date-time>               </dtstart>               <duration>                 <duration>PT5M</duration>               </duration>             </properties>           </available>         </components>       </vavailability>       <d3p1:createdDateTime>'+new Date().toISOString()+'</d3p1:createdDateTime>       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">8add0bd9de</requestID>     </oadrCreateOpt>   </oadrSignedObject> </oadrPayload>'\n}\nelse {\n    var opt = '<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCreateOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:optType>optOut</d3p1:optType>       <d3p1:optReason>economic</d3p1:optReason>       <marketContext xmlns=\"http://docs.oasis-open.org/ns/emix/2011/06\" />       <d3p1:venID>531150bf935f705366ca</d3p1:venID>       <vavailability xmlns=\"urn:ietf:params:xml:ns:icalendar-2.0\">         <components>           <available>             <properties>               <dtstart>                 <date-time>2016-07-13T19:14:00Z</date-time>               </dtstart>               <duration>                 <duration>PT5M</duration>               </duration>             </properties>           </available>         </components>       </vavailability>       <d3p1:createdDateTime>'+new Date().toISOString()+'</d3p1:createdDateTime>       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">8add0bd9de</requestID>     </oadrCreateOpt>   </oadrSignedObject> </oadrPayload>'\n}\nmsg.payload=opt;\nreturn msg;","outputs":1,"noerr":0,"x":369.6348876953125,"y":417.9999694824219,"wires":[["19648fb6.c3674"]]},{"id":"4bf3d5eb.21a39c","type":"debug","z":"c1b13e80.0b833","name":"c_rate(B)","active":true,"console":"false","complete":"payload","x":1062.6666259765625,"y":469.0000305175781,"wires":[]},{"id":"770871d3.4ccd7","type":"file","z":"c1b13e80.0b833","name":"","filename":"c_rate.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1049.8887329101562,"y":419.88885498046875,"wires":[]},{"id":"c461de78.08db2","type":"unsafe-function","z":"c1b13e80.0b833","name":"C_rate","func":"require('pyextjs');\n\nvar body=msg.payload;\nAmp_max=27;\n\n//prompt='When will you unplug the vehicle (for Today enter 1),(for Tomorrow enter 2)?';\nday_unplug=2;\n//prompt='When will you unplug the vehicle (ex. enter 17 if want to unplug at 17:35)?';\nt_unplug=9;\n\nif (day_unplug==1){\t\n    P_forecast=body.slice(17,161)+']';\n    t=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];\t\n}\nelse{\n    P_forecast=msg.payload= body.slice(17,299)+']';\n    t=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46];\n    t_unplug=t_unplug+24;\n}\n\nvar P_forecast = JSON.parse(P_forecast);\n\n//console.log(\"bbbbbbbbbbbbbbbbbbbb\")\n//console.log(P_forecast)\n    t_now=Date()[16]+Date()[17];\n    P_forecast_calc=P_forecast.slice(t_now,1+t_unplug+1);\n    Price_now=body.slice(301,304);\n    P_forecast_calc[0]=Price_now;\nP_forecast_calc = P_forecast_calc.map(Number);    \nvar max= Math.max.apply(null,P_forecast_calc)\nvar min = Math.min.apply(null,P_forecast_calc)\n//console.log(Price_now)\n//console.log(P_forecast_calc)\n//console.log(\"Max\")\n//console.log(max)\n//console.log(min)\n\ncharge_rate=((-1*Price_now)+((max+min)))*(Amp_max/max);\n    \n\n//console.log(\"Charging Current in A\");\n//console.log(charge_rate);\n\n//console.log(\"t_now\");\n//console.log(t_now);\n\n//console.log(\"bbbbbbbbbbbbbbb\")\n        if (charge_rate<=0){\n            c_rate=0}\n        else if (charge_rate>Amp_max){\n            c_rate=Amp_max}\n        else{\n            c_rate=charge_rate}\n\nmsg.payload= c_rate;\n\nreturn msg;","outputs":1,"noerr":0,"x":883.4444274902344,"y":474.2222316265106,"wires":[["f2ff12b3.78307","770871d3.4ccd7","4bf3d5eb.21a39c"]]},{"id":"167188be.248987","type":"mqtt out","z":"c1b13e80.0b833","name":"forecast","topic":"forecast","qos":"","retain":"true","broker":"ca66688a.6309c8","x":901.7777786254883,"y":408.88888931274414,"wires":[]},{"id":"83eeda92.ad23b8","type":"inject","z":"c1b13e80.0b833","name":"Cancel_opt","topic":"","payload":"<?xml version=\"1.0\" encoding=\"utf-8\"?> <oadrPayload xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://openadr.org/oadr-2.0b/2012/07\">   <oadrSignedObject>     <oadrCancelOpt d3p1:schemaVersion=\"2.0b\" xmlns:d3p1=\"http://docs.oasis-open.org/ns/energyinterop/201110\">       <requestID xmlns=\"http://docs.oasis-open.org/ns/energyinterop/201110/payloads\">a223850b11</requestID>       <d3p1:optID>a220ef0ba1</d3p1:optID>       <d3p1:venID>piyu123</d3p1:venID>     </oadrCancelOpt>   </oadrSignedObject> </oadrPayload>","payloadType":"str","repeat":"","crontab":"","once":false,"x":355,"y":331,"wires":[["19648fb6.c3674"]]},{"id":"8f8f942b.2983c8","type":"file","z":"c1b13e80.0b833","name":"","filename":"payload.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":694.4443969726562,"y":341.111083984375,"wires":[]},{"id":"9724ca27.d09698","type":"file","z":"c1b13e80.0b833","name":"","filename":"data.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":901,"y":301,"wires":[]},{"id":"13d8e1b6.d5574e","type":"debug","z":"c1b13e80.0b833","name":"forecast","active":false,"console":"false","complete":"payload","x":899.0792465209961,"y":361.4444217681885,"wires":[]}]
